{% extends "disposicion.html" %}
{% block content %}

<div class="contenido">
    <h1>Hola, cliente <a style="color: var(--accent)">nº {{ cliente }}</a></h1>
    <hr>
    <h1>Tu consumo en <span style="color: var(--accent)">2023</span></h1>
    <p>Comparación del consumo por meses con respecto al año anterior.</p>
    <p>Selecciona el año: <div class="control-fecha"><span class="anterior"><</span><span class="valor">'mes' 'año'</span><span class="siguiente">></span></div></p>
    <div>
        <canvas id="meses"></canvas>
    </div>

    <br><br><hr><br>

    <h1>Tu consumo en {{ year}} <span style="color: var(--accent)">enero de 2023</span></h1>
    <div class="control-fecha">
        <span class="anterior"><</span>
        <span class="valor">'mes' 'año'</span>
        <span class="siguiente">></span>
    </div>
    <script src="/api/consumo/rango?cliente={{ cliente }}&inicio=2022-07-01&fin=2022-07-31"></script>
    <script src="/api/consumo/dia?cliente={{ cliente }}&fecha=2022-07-01"></script>
    <script src="/api/consumo/comp_anos?cliente={{ cliente }}&ano=2023"></script>
    <div>
        <canvas id="anual"></canvas>
    </div>


    <div class="lados">
        <div class="small-chart">
            <h2>Por <span class="underline">tramos horarios:</span></h2>
            <canvas id="horario""></canvas>
        </div>
        <div class="small-chart">
            <h2><span class="underline">Doutra maneira:</span></h2>
            <canvas id="derecha""></canvas>
        </div>
    </div>

    <!-- Mostrar los gráficos de chartjs -->
    <script src="/static/js/charts.js"></script>
</div>

{% endblock content %}
