{% extends "disposicion.html" %}
{% block content %}

<div class="contenido">
    <h1>Hola, cliente nº {{ cliente }}</h1>
    <hr>
    <p>Tu consumo en {{ year}}</p>
    <div class="control-fecha">
        <span class="anterior"><</span>
        <span class="valor">'mes' 'año'</span>
        <span class="siguiente">></span>
    </div>
    <script src="/api/consumo/rango?cliente={{ cliente }}&inicio=2022-07-01&fin=2022-07-31"></script>
    <script src="/api/consumo/dia?cliente={{ cliente }}&fecha=2022-07-01"></script>
    <div>
        <canvas id="anual"></canvas>
    </div>

    <p>Comparación del consumo por meses con respecto al año anterior</p>
    <div>
        <canvas id="meses"></canvas>
    </div>

    <p>Comparación del consumo según la hora del día</p>
    <div style="width: 50%;">
        <canvas id="horario""></canvas>
    </div>
    <script>
    const anual = document.getElementById('anual');
    const meses = document.getElementById('meses');
    const horario = document.getElementById('horario');

    // Gráfico con el consumo del último año
    new Chart(anual, {
    type: 'line',
    data: {
        labels: fechas,
        datasets: [{ label: 'kWh', data: datos, borderWidth: 1 }]
    },
    options: { scales: { y: { beginAtZero: true } } }
    });

    // Gráfico con la comparación por meses
    new Chart(meses, {
    type: 'bar',
    data: {
        labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        datasets: [{
            label: 'kWh 2022',
            data: [0.5, 0.5, 1, .25, 2.5, 3, 2, 2, 3, 1.5, 3, 3, .5],
            borderWidth: 1
        },
        {
            label: 'kWh 2023',
            data: [1, .5, 1.5, .5, 2, 2.5, 2, 2.5, 1.5, 2.5, 3, 4, 1.5, .75],
            borderWidth: 1
        }]
    },
    options: { scales: { y: { beginAtZero: true } } }
    });

    new Chart(horario, {
    type: 'polarArea',
    data: {
        // labels: ['12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00'],
        labels: ['12:00-18:00 (Mediodía)', '18:00-00:00 (Tarde)', '00:00-06:00 (Noche)', '06:00-12:00 (Mañana)'],
        datasets: [{
            label: 'kWh',
            data: consumos,
            borderWidth: 1
        },
        ]
    },
    });
    </script>
</div>

{% endblock content %}
