body {
    margin: 0;
}

.contenido {
    width: 75%;
    margin: 0 auto;
}

.control-fecha {
    border: 2px solid #2a2a2a;
    border-radius: 4px;
    width: fit-content;
    padding: 4px 0px;
}

.control-fecha > span {
    padding: 4px 8px;
}

.anterior {
    border-right: 2px solid #2a2a2a;
}

.siguiente {
    border-left: 2px solid #2a2a2a;
}
